/*prevent problems with different browsers*/
* {box-sizing: border-box;}



body {
    font-family: 'Lora', serif;  
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* Header Stuff Here*/
header {
    background-color: #D9B5A0;
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}
header h1 {
    margin: 0;
    color: #d97762;
}
header p {
    margin: 0;
    color: #d97762;
    letter-spacing: .5px;
}

/* small screens */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: #d9984a;
    }
    nav. active a {
        background-color: #d9984a;
        background-image: linear-gradient(to bottom, #d9984a,#9a6c35 )
        color: white;
    }
    
    
} /*end of the media query*/



/* BIG Screens */
@media only screen and (min-width: 601px) {
    nav {
    background-color: #4f30bf;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }
    nav a {
       font-size: 1.1rem; 
       text-decoration: none;
        color: #d97762;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }
    nav li.active a{
        background-color:#d97762;
        color: #4f30bf;
    }
    nav a:hover {
        color: white;  
    }
} /*end of the media query*/








/* stuff for the main */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #d9984a;  
}

main h2 {
    color: #4f30bf;
    margin-bottom: .2rem;
}

main p {
    color: #0D0D0D; 
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #efefef;
}

main dl dt {
    color: #d97762;  
    font-weight: 700;
}
main dl dd {
    color: #a62f03;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;  
}
main ul li {
    line-height: 125%; 
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #d97762;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024873;
    border-radius: .5rem;
}

main a {
    color: #4f30bf;
}
main a:hover {
    color: rgb(239,0,24);
}

.curlyhero {
    width: 100%;
    margin: 0;
}
.curlyhero img {
    width: 100%;
    height: auto;
}










figure.wrapped {
   width: 30%;
   margin: 0 0 0 2%;
   float: right;
}
figure.wrapped img {
   width: 100%; 
   height:auto;
}
figure.wrapped figcaption {
   text-align: center;
   font-size: .75rem
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}
div.gallery figure:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
} 

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #d97762;
}

.myForm fieldset {
    border: 1px solid #d97762; 
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #d97762;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;  
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea {
    border: solid 1px #888;   
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Lora', serif;  
    font-weight: 400;
} 
.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(217,181,160,0.1)
}

.myForm [type=submit] {
    background-color: #d97762;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

table.our-sponsors {
    width: 100%;
    border-collapse: collapse;
}
table.our-sponsors th {
    background-color: #d97762;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}
table.our-sponsors td {
    color: #d97762;
    padding: 4rem 2vw;
} 
table.our-sponsors tr:nth-child(odd){
    background-color: #f7f7f7;
}
table.our-sponsors tr:hover {
    background-color: rgba(217,119,98,0.2);
}






/* footer stuff here */
footer {
    background-color: #d9b5a0;
    text-align: center;
    color: #4f30bf;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #4f30bf;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}

